{% extends "index.html" %}

{% load static %}

{% block head %}
    {{ block.super }}
    <!-- insert custom header elements -->
{% endblock %}

{% block breadcrumbs %}
    <a href="/" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-lock"></i> Intern</a>
    <i class="fa-solid fa-angle-right"></i>
    <a href="{% url 'sitzungsverwaltung' %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-calendar-days"></i> Sitzungsverwaltung</a>
    <i class="fa-solid fa-angle-right"></i>
    <a href="{% url 'sitzung-verwalten' sitzID=sitzung.sitzID %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-list-check"></i> {{ sitzung }}</a>
    <i class="fa-solid fa-angle-right"></i>
    <a href="{% url 'sitzung-loeschen' sitzID=sitzung.sitzID %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-trash-can"></i> Löschen</a>
{% endblock %}

{% block content %}
    <form method="POST" action="#feedback" class="sm:ml-5 sm:mr-5 lg:mr-96 lg:ml-96">
        {% csrf_token %}

        <h1 class="text-center"><b>{{ title }}</b></h1>


        <div class="relative py-4 mt-5 mb-4">
            <div class="absolute inset-0 flex items-center">
                <div class="w-full border-b border-gray-700"></div>
            </div>
            <div class="relative flex justify-center">
                <span class="bg-[#dcdcdc] px-4 text-3xl text-black">{{ sitzung }}</span>
            </div>
        </div>


        {% include 'components/alert.html' with type="WARNING" text="Du bist dabei, die Sitzung zu löschen! Beachte dabei, dass der Sitzung keine Anträge zugewiesen sind. <br> Sollte dies dennoch der Fall sein, vertage diese auf die nächste Sitzung des Referats." %}
 
        <button type="submit" class="btn btn-danger w-full hover:cursor-pointer"><i class="fa-solid fa-trash-can"></i> Löschen</button>


        <!-- Feedback: Anzeigen von Fehlermeldungen/Rückmeldungen -->
        {% if messages %}
            {% for message in messages %}
                <div class="message">
                    {% include 'components/alert.html' with type=message.tags text=message %}
                </div>
            {% endfor %}
        {% endif %}

    <form>
{% endblock %}