{% extends "index.html" %}

{% load static %}

{% block head %}
    {{ block.super }}
    <!-- insert custom header elements -->
{% endblock %}

{% block content %}
    <!-- insert content -->
    <div class="ml-40 mr-40">
        <div class="w-full">
            <!-- TODO: URL-Referenzen einfügen -->
            <a href="{% url 'tagesordnung-vorschau' sitzID=sitzung.sitzID %}" class="btn btn-success hover:cursor-pointer mr-5">
                <i class="fa-solid fa-circle-plus"></i> Tagesordnung erstellen
            </a>
            <a href="{% url 'sitzung-abschliessen' sitzID=sitzung.sitzID %}" class="btn btn-success hover:cursor-pointer">
                <i class="fa-solid fa-circle-check"></i> Sitzung abschließen
            </a>
        </div>

        <div class="w-full">
            {% include 'components/alert.html' with type="INFO" text="Die Reihefolge der Anträge bestimmt, wie die TOP's in die TO eingespeißt werden. Sollte ein Antrag eine erhöhte Priorität haben, nutze den Button links beim Antrag; dieser wird anschließend nach ganz Oben geschoben." %}
        </div>

        <table class="table-auto w-full text-left overflow-x-auto mt-3 border-separate border-spacing-y-1">
            <caption class="text-left">
                <h2><b>{{ sitzung }} - Alle Anträge</b></h2>
            </caption>
            <thead>
                <tr>
                    <th scope="col">
                        {% include 'components/tooltip.html' with display_text="Priorität" tooltip_text="Priorisiert den Antrag, sodass er in der Tagesodnung ganz oben steht." %}
                    </th>
                    <th scope="col">Antragstyp</th>
                    <th scope="col">Titel</th>
                    <th scope="col">Antragsteller</th>
                    <th scope="col">Eilantrag?</th>
                    <th scope="col">Anlagen</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Beschluss</th>
                </tr>
            </thead>
            <tbody>
                {% for antrag in antraege %}
                <tr>
                    <td>
                        <a href="{% url 'antrag-priorisieren' antragID=antrag.antragID %}" class="hover:cursor-pointer hover:text-stura-orange">
                            <i class="fa-solid fa-arrow-up-wide-short"></i>
                        </a>
                    </td>
                    <td>{{ antrag.typID.typName }}</td>
                    <td>{{ antrag.antragTitel | truncatechars:50 }}</td>
                    <td>{{ antrag.astellerID.astellerName }}</td>
                    <td>
                        {% if antrag.istEilantrag %}
                            <i class="fa-solid fa-check"></i>
                        {% else %}
                            <i class="fa-solid fa-xmark"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if antrag.antragAnlagen == 0 %}
                            <i class="fa-solid fa-xmark"></i>
                        {% else %}
                            {{ antrag.anzAnlagen }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'antrag-anzeigen' antragID=antrag.antragID %}" class="hover:cursor-pointer hover:text-stura-orange">
                            <i class="fa-solid fa-eye"></i> Anzeigen
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'antrag-vertagen' antragID=antrag.antragID %}" class="hover:cursor-pointer hover:text-stura-orange">
                            <i class="fa-regular fa-calendar-xmark"></i> Vertagen
                        </a>
                    </td>
                    <td>
                        {% if antrag.beschlussID %}
                            <a href="{% url 'antrag-beschliessen' antragID=antrag.antragID %}" class="hover:cursor-pointer hover:text-stura-orange">
                                <i class="fa-solid fa-pen-to-square"></i> Beschluss bearbeiten
                            </a>
                        {% else %}
                            <a href="{% url 'antrag-beschliessen' antragID=antrag.antragID %}" class="hover:cursor-pointer hover:text-stura-orange">
                                <i class="fa-solid fa-check-double"></i> Beschließen
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% include 'components/beschluss.html' with ergebnis=antrag.beschlussID.beschlussErgebnis %}
                    </td>
                </tr>
                {% endfor %}

                {% if not antraege %}
                <tr>
                    <td colspan="8" class="text-left text-stura-orange"><b>Dieser Sitzung wurden bislang keine Anträge zugewiesen!</b></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}