{% extends "index.html" %}

{% load static %}

{% block head %}
    {{ block.super }}
    <!-- insert custom header elements -->
{% endblock %}

{% block breadcrumbs %}
    <a href="/" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-lock"></i> Intern</a>
    <i class="fa-solid fa-angle-right"></i>
    <a href="{% url 'sitzungsverwaltung' %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-calendar-days"></i> Sitzungsverwaltung</a>
    <i class="fa-solid fa-angle-right"></i>
    <a href="{% url 'sitzung-verwalten' sitzID=sitzung.sitzID %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-list-check"></i> {{ sitzung }}</a>
{% endblock %}

{% block content %}
    <!-- insert content -->
    <div class="ml-40 mr-40">


        <div class="flex flex-row mt-3 text-center">
            <a href="{% url 'tagesordnung-vorschau' sitzID=sitzung.sitzID %}" class="w-1/2 btn btn-success hover:cursor-pointer mr-5">
                <i class="fa-solid fa-circle-plus"></i> Tagesordnung erstellen
            </a>
            <a href="{% url 'sitzung-abschliessen' sitzID=sitzung.sitzID %}" class="w-1/2 btn btn-success hover:cursor-pointer">
                <i class="fa-solid fa-circle-check"></i> Sitzung abschließen
            </a>
        </div>


        <div class="w-full pt-4">
            {% include 'components/alert.html' with type="INFO" text="Die <b>Reihefolge</b> der <b>Anträge</b> bestimmt, wie die <b>Tagesordnungspunkte</b> in die <b>Etherpad-Tagesodnung</b> eingespeißt werden. Sollte ein <b>Antrag</b> eine <b>erhöhte Priorität</b> haben, nutze den <b>Button</b> links beim Antrag; dieser wird anschließend nach <b>ganz Oben geschoben</b>." %}
        </div>

        <div class="relative overflow-x-auto bg-[#b4b4b4] p-5 mt-10 rounded-lg">
            <table class="table-auto w-full text-left overflow-x-auto border-collapse border-spacing-y-2">
                <thead class="text-gray-700 uppercase">
                    <tr class="border-b border-b-[#dcdcdc]">
                        <th scope="col">
                            {% include 'components/tooltip.html' with display_text="Priorität" tooltip_text="Priorisiert den Antrag, sodass er in der Tagesodnung ganz oben steht." %}
                        </th>
                        <th scope="col" class="py-3">Antragstyp</th>
                        <th scope="col" class="py-3">Titel</th>
                        <th scope="col" class="py-3">Antragsteller</th>
                        <th scope="col" class="py-3 text-center">Eilantrag?</th>
                        <th scope="col" class="py-3 text-center">Anlagen</th>
                        <th scope="col" class="py-3 text-center">Aktionen</th>
                        <th scope="col" class="py-3">Beschluss</th>
                    </tr>
                </thead>
                <tbody>
                    {% for antrag in antraege %}
                    <tr class="border-b border-b-[#dcdcdc]">
                        <td class="py-3">
                            <a href="{% url 'antrag-priorisieren' antragID=antrag.antragID %}" class="hover:cursor-pointer hover:text-stura-orange">
                                <i class="fa-solid fa-arrow-up-wide-short"></i>
                            </a>
                        </td>
                        <td class="py-3">{{ antrag.typID.typName }}</td>
                        <td class="py-3">{{ antrag.antragTitel | truncatechars:30 }}</td>
                        <td class="py-3">{{ antrag.astellerID.astellerName }}</td>
                        <td class="py-3 text-center">
                            {% if antrag.istEilantrag %}
                                <i class="fa-solid fa-check"></i>
                            {% else %}
                                <i class="fa-solid fa-xmark"></i>
                            {% endif %}
                        </td>
                        <td class="py-3 text-center">
                            {% if antrag.antragAnlagen == 0 %}
                                <i class="fa-solid fa-xmark"></i>
                            {% else %}
                                {{ antrag.anzAnlagen }}
                            {% endif %}
                        </td>
                        <td class="py-3 text-center">
                            <a href="{% url 'antrag-anzeigen' antragID=antrag.antragID %}" class="hover:cursor-pointer hover:text-stura-orange mr-5">
                                <i class="fa-solid fa-eye"></i> Anzeigen
                            </a>

                            <a href="{% url 'antrag-vertagen' antragID=antrag.antragID %}" class="hover:cursor-pointer hover:text-stura-orange mr-5">
                                <i class="fa-regular fa-calendar-xmark"></i> 
                                {% if antrag.beschlussID %}
                                    <s>Vertagen</s>
                                {% else %}
                                    Vertagen
                                {% endif %}
                            </a>

                            {% if antrag.beschlussID %}
                                <a href="{% url 'antrag-beschliessen' antragID=antrag.antragID %}" class="hover:cursor-pointer hover:text-stura-orange">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    {% if antrag.beschlussID.beschlussErgebnis|lower == 'vertagt' %}
                                        <s>Beschluss bearbeiten</s>
                                    {% else %}
                                        Beschluss bearbeiten
                                    {% endif %}
                                </a>
                            {% else %}
                                <a href="{% url 'antrag-beschliessen' antragID=antrag.antragID %}" class="hover:cursor-pointer hover:text-stura-orange">
                                    <i class="fa-solid fa-check-double"></i> Beschließen
                                </a>
                            {% endif %}
                        </td>
                        <td class="py-3">
                            {% include 'components/table_column_beschluss.html' with ergebnis=antrag.beschlussID.beschlussErgebnis %}
                        </td>
                    </tr>
                    {% endfor %}

                    {% if not antraege %}
                    <tr>
                        <td colspan="8" class="text-center pt-5"><b><u>Dieser Sitzung wurden bislang keine Anträge zugewiesen!</u></b></td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}