{% extends "index.html" %}

{% load static %}
{% load l10n %}

{% block head %}
    {{ block.super }}
    <!-- insert custom header elements -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
{% endblock %}

{% block breadcrumbs %}
    <!-- Home > Anträge -->
    {% if 'intern' not in request.path and 'archiv' not in request.path %}
        <a href="/" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-house"></i> Home</a>
        <i class="fa-solid fa-angle-right"></i>
        {% if antragstyp.typSlug == 'antrag-ohne-finanzielle-mittel' %}
            <a href="{% url 'antrag-allgemein' %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-file"></i> {{ antragstyp.typName }}</a>
        {% elif antragstyp.typSlug == 'antrag-mit-finanziellen-mitteln' %}
            <a href="{% url 'antrag-finanziell' %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-money-bill-1-wave"></i> {{ antragstyp.typName }}</a>
        {% elif antragstyp.typSlug == 'antrag-fuer-veranstaltungen' %}
            <a href="{% url 'antrag-veranstaltung' %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-calendar-plus"></i> {{ antragstyp.typName }}</a>
        {% elif antragstyp.typSlug == 'beratendes-mitglied' %}
            <a href="{% url 'antrag-mitglied' %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-user"></i> {{ antragstyp.typName }}</a>
        {% elif antragstyp.typSlug == 'wahl-auf-stelle-oder-amt' %}
            <a href="{% url 'antrag-amt' %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-building"></i> {{ antragstyp.typName }}</a>
        {% elif antragstyp.typSlug == 'herstellung-des-benehmens' %}
            <a href="{% url 'antrag-benehmen' %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-gavel"></i> {{ antragstyp.typName }}</a>
        {% endif %}
    <!-- Intern > Sitzungsverwaltung > {Sitzung} > {Antrag} > Anzeigen/Bearbeiten -->
    {% elif 'intern' in request.path and 'sitzung' in request.path %}
        <a href="/" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-lock"></i> Intern</a>
        <i class="fa-solid fa-angle-right"></i>
        <a href="{% url 'sitzungsverwaltung' %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-calendar-days"></i> Sitzungsverwaltung</a>
        <i class="fa-solid fa-angle-right"></i>
        <a href="{% url 'sitzung-verwalten' sitzID=antrag.sitzID.sitzID %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-list-check"></i> {{ antrag.sitzID }}</a>
        <i class="fa-solid fa-angle-right"></i>
        <a href="{% url 'antrag-anzeigen' antragID=antrag.antragID %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-sharp fa-solid fa-file"></i> {{ antrag|truncatechars:100 }}</a>
        <i class="fa-solid fa-angle-right"></i>
        {% if aktion|lower == "anzeigen" %}
            <a href="{% url 'antrag-anzeigen' antragID=antrag.antragID %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-eye"></i> Anzeigen</a>
        {% elif aktion|lower == "bearbeiten" %}
            <a href="{% url 'antrag-bearbeiten' antragID=antrag.antragID %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-pen-to-square"></i> Bearbeiten</a>
        {% endif %}
    <!-- Archiv > {Antrag} > Anzeigen -->
    {% elif 'archiv' in request.path%}
        <a href="{% url 'archiv' %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-box-archive"></i> Archiv</a>
        <i class="fa-solid fa-angle-right"></i>
        <a href="{% url 'archiv-anzeigen' antragID=antrag.antragID %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-sharp fa-solid fa-file"></i> {{ antrag|truncatechars:100 }}</a>
    {% endif %}
{% endblock %}

{% block content %}
    <form method="POST" action="#feedback" class="ml-80 mr-80" enctype="multipart/form-data">
        {% csrf_token %}

        <h1 class="text-center"><b>{{ title }}</b></h1>


        <!-- Anzeigen der Sitzung / des Beschlussses, wenn man über das Archiv darauf zugreift -->
        {% if aktion|lower == "anzeigen" %}
        <div class="mb-8">
            <hr class="bg-gray-600 opacity-80 border-none h-1">
            <h2 class="text-center">Behandelt in: <b>{{ antrag.sitzID }}</b></h2>
            <h4 class="text-center italic">Beschluss: <b>{{ antrag.beschlussID }}</b></h4>
            <hr class="bg-gray-600 opacity-80 border-none h-1">
        </div>
        {% endif %}


        <!-- Separator -->
        <div class="relative py-4 mt-3 mb-3">
            <div class="absolute inset-0 flex items-center">
                <div class="w-full border-b border-gray-700"></div>
            </div>
            <div class="relative flex justify-center">
                <span class="bg-[#dcdcdc] px-4 text-3xl text-black">Stammdaten</span>
            </div>
        </div>
    
        
        <!-- Blende Hilfetext aus, sofern der Antrag angezeigt/bearbeitet wird -->
        {% if not aktion %}
            <p class="text-center">Um deinen Antrag bearbeiten zu können, benötigen wir vorerst einige Daten von dir.</p>
            <p class="mb-3 pb-3 text-center">Deine E-Mail-Adresse wird nicht veröffentlicht und dient lediglich zur Kontaktaufnahme, um dir Änderungen am Status deines Antrages mitzuteilen.</p>
        {% endif %}


        <!--+ Stammdaten Antragsteller +-->
        <div class="flex flex-row mt-3">

            <!-- Antragsteller Name -->
            <div class="w-1/2 mr-3">
                <label class="block" for="{{ form.name.id_for_label }}"><b>{{ form.name.label }}</b></label>
                <input class="w-full" type="text" placeholder="Reiner Zufall / Referat Finanzen" id="{{ form.name.id_for_label }}" name="{{ form.name.name }}" 
                    {% if form.name.field.required %}required{% endif %} 
                    {% if form.name.field.max_length %}maxlength="{{ form.name.field.max_length }}"{% endif %}
                    {% if antrag.astellerID.astellerName %}value="{{ antrag.astellerID.astellerName }}"{% endif %}
                >
            </div>

            <!-- Antragsteller E-Mail -->
            <div class="w-1/2">
                <label class="block" for="{{ form.email.id_for_label }}"><b>{{ form.email.label }}</b></label>
                <input class="w-full" type="email" placeholder="reiner@zufall.de" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" 
                    {% if form.email.field.required %}required{% endif %} 
                    {% if form.email.field.max_length %}maxlength="{{ form.email.field.max_length }}"{% endif %}
                    {% if antrag.astellerID.astellerEmail %}value="{{ antrag.astellerID.astellerEmail }}"{% endif %}
                >
            </div>

        </div>


        <!-- Separator -->
        <div class="relative py-4 mt-5 mb-4">
            <div class="absolute inset-0 flex items-center">
                <div class="w-full border-b border-gray-700"></div>
            </div>
            <div class="relative flex justify-center">
                <span class="bg-[#dcdcdc] px-4 text-3xl text-black">Antragsdaten</span>
            </div>
        </div>

        
        <!-- Antragsdaten Antragstitel -->
        <div class="mb-3">
            <label class="block" for="{{ form.titel.id_for_label }}"><b>{{ form.titel.label }}</b></label>
            <input class="w-full" type="text" placeholder="Antrag auf/für/zum ..." id="{{ form.titel.id_for_label }}" name="{{ form.titel.name }}" 
                {% if form.titel.field.required %}required{% endif %} 
                {% if form.titel.field.max_length %}maxlength="{{ form.titel.field.max_length }}"{% endif %}
                {% if antrag.antragTitel %}value="{{ antrag.antragTitel }}"{% endif %}
            >
        </div>


        <div class="flex flex-row mb-3">

            <!-- Antragsdaten Referat -->
            <div class="w-1/2 mr-3">
                <label class="block" for="{{ form.referat.id_for_label }}">
                    <b>Zuständige Stelle:</b>
                </label>
                <select name="{{ form.referat.name }}" class="w-full" {% if form.referat.field.required %}required{% endif %}>
                    {% for choice in form.referat.field.choices %}
                        <option class="p-2" value="{{ choice.0 }}" 
                            {% if antrag.sitzID.refID.refID == choice.0 %} selected {% endif %}
                        >{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Zeige das Datum der nächsten Sitzung an, sobald ein Referat ausgewählt wurde -->
            <script>
                $(document).ready(function() {
                    let referatSelect = $('select[name="{{ form.referat.name }}"]');
                    let istEilantrag = $('input[name="{{ form.ist_eilantrag.name }}"]');
                    
                    // Wenn die Seite neu gelanden wird, zeige das Datum der nächsten Sitzung an
                    updateDatum(referatSelect.val());

                    // Wenn ein Referat ausgewählt wurde, zeige das Datum der nächsten Sitzung an
                    referatSelect.change(function() {
                        updateDatum($(this).val());
                    });

                    // Wenn der Eilantrag-Checkbox ausgewählt wurde, zeige das Datum der nächsten Sitzung an
                    istEilantrag.change(function() {
                        updateDatum(referatSelect.val());
                    });
                });

                function updateDatum(refID) {
                    // Array mit allen sitzungen_fristgerecht, die in der Datenbank gespeichert sind
                    let sitzungen_fristgerecht = [ {% for sitzung in sitzungen_fristgerecht %} [{{ sitzung.refID.refID }}, "{{ sitzung.sitzDate | date:"d.m.Y" }}"], {% endfor %}];
                    let sitzungen_eilantrag = [ {% for sitzung in sitzungen_eilantrag %} [{{ sitzung.refID.refID }}, "{{ sitzung.sitzDate | date:"d.m.Y" }}"], {% endfor %}];

                    // Prüfe, ob es ein Eilantrag ist
                    let sitzungen = []
                    if ($('#{{ form.ist_eilantrag.id_for_label }}').prop('checked')) {
                        sitzungen = sitzungen_eilantrag;
                    } else {
                        sitzungen = sitzungen_fristgerecht;
                    }

                    // Prüfe, ob die ausgewählte Referat-ID in der Liste der sitzungen_fristgerecht vorhanden ist
                    let selectedSitzung = sitzungen.find(function(sitzung) {
                        return sitzung[0] == refID;
                    });

                    if (selectedSitzung) {
                        $('#info_sitzungsdatum').html("Die <b>nächste Sitzung</b>, in welcher dein jetzt gestellter Antrag behandelt wird, findet am <b>" + selectedSitzung[1] + "</b> statt.")
                    } else {
                        $('#info_sitzungsdatum').html("Bitte wähle die <b>zuständige Stelle</b> aus, damit wir dir den <b>Termin der nächsten Sitzung</b> anzeigen können. Sollte <b>kein Termin</b> angezeigt werden, hat die <b>ausgewählte Stelle</b> noch <b>keine Sitzung geplant</b>. Wähle in diesem Fall eine andere Stelle aus.")
                    }
                }
            </script>


            <!-- Antragsdaten IstEilantrag -->
            <div class="w-1/4">
                <label class="block" for="{{ form.ist_eilantrag.id_for_label }}"><b>{{ form.ist_eilantrag.label }}</b></label>
                <input class="w-10 h-10 text-[#f2ac2e] focus:ring-[#f2ac2e] bg-gray-100 border-gray-300 rounded dark:focus:ring-[#f2ac2e] focus:ring-2" 
                    type="checkbox" 
                    id="{{ form.ist_eilantrag.id_for_label }}" 
                    name="{{ form.ist_eilantrag.name }}"
                    {% if antrag.istEilantrag %}checked{% endif %}
                >
            </div>

            
            <!-- Antragsdaten IstStuRaMitglied -->
            {% if form.ist_mitglied %}
            <div class="w-1/2">
                <label class="block" for="{{ form.ist_mitglied.id_for_label }}"><b>{{ form.ist_mitglied.label }}</b></label>
                <input class="w-10 h-10 text-[#f2ac2e] focus:ring-[#f2ac2e] bg-gray-100 border-gray-300 rounded dark:focus:ring-[#f2ac2e] focus:ring-2" 
                    type="checkbox" 
                    id="{{ form.ist_mitglied.id_for_label }}" 
                    name="{{ form.ist_mitglied.name }}"
                    {% if antrag.astellerID.astellerIstMitglied %}checked{% endif %}
                >
            </div>
            {% endif %}

        </div>


        <!-- Anzeigen der nächsten Sitzung -->
        {% if not aktion %}
            {% include 'components/alert.html' with type="INFO" text="Bitte wähle die <b>zuständige Stelle</b> aus, damit wir dir den <b>Termin der nächsten Sitzung</b> anzeigen können..." text_element_id="info_sitzungsdatum" %}
        {% endif %}

        <!-- Antragsdaten Antragstext -->
        <div class="mb-3">
            <label class="block" for="{{ form.text.id_for_label }}"><b>{{ form.text.label }}</b></label>
            <textarea class="w-full" rows="7" placeholder="Der StuRa möge beschließen, dass ..." id="{{ form.text.id_for_label }}" name="{{ form.text.name }}" 
                {% if form.text.field.required %}required{% endif %} 
                {% if form.text.field.max_length %} maxlength="{{ form.text.field.max_length }}"{% endif %}
            >{% if antrag.antragText %}{{ antrag.antragText }}{% endif %}</textarea>
        </div>

        <!-- Antragsdaten Grund -->
        {% if form.grund  %}
        <div class="mb-3">
            <label class="block" for="{{ form.grund.id_for_label }}"><b>{{ form.grund.label }}</b></label>
            <textarea class="w-full" rows="3" placeholder="Der Grund für diesen Antrag ist ..." id="{{ form.grund.id_for_label }}" name="{{ form.grund.name }}" 
                {% if form.grund.field.required %}required{% endif %} 
                {% if form.grund.field.max_length %} maxlength="{{ form.grund.field.max_length }}"{% endif %}
            >{% if antrag.antragGrund %}{{ antrag.antragGrund }}{% endif %}</textarea>
        </div>
        {% endif %}

        <!-- Antragsdaten Vorschlag -->
        {% if form.vorschlag  %}
        <div class="mb-3">
            <label class="block" for="{{ form.vorschlag.id_for_label }}"><b>{{ form.vorschlag.label }}</b></label>
            <textarea class="w-full" rows="3" placeholder="Der StuRa soll in dieser Angelegenheit folgendermaßen verfahren: ..." id="{{ form.vorschlag.id_for_label }}" name="{{ form.vorschlag.name }}" 
                {% if form.vorschlag.field.required %}required{% endif %} 
                {% if form.vorschlag.field.max_length %} maxlength="{{ form.vorschlag.field.max_length }}"{% endif %}
                >{% if antrag.antragVorschlag %}{{ antrag.antragVorschlag }}{% endif %}</textarea>
        </div>
        {% endif %}

        <!-- Antragsdaten Kostenposition & Summe -->
        {% if form.position and form.summe %}
        <div class="flex flex-row mb-3">

            <div class="w-1/2 mr-3">
                <label class="block" for="{{ form.position.id_for_label }}"><b>{{ form.position.label }}</b></label>
                <input class="w-full" type="text" placeholder="9000 " id="{{ form.position.id_for_label }}" name="{{ form.position.name }}" 
                    {% if form.position.field.required %}required{% endif %} 
                    {% if form.position.field.max_length %}maxlength="{{ form.position.field.max_length }}"{% endif %}
                    {% if antrag.antragKostenposition %}value="{{ antrag.antragKostenposition }}"{% endif %}
                >
            </div>

            <div class="w-1/2 mr-3">
                <label class="block" for="{{ form.summe.id_for_label }}"><b>{{ form.summe.label }}</b></label>
                <input class="w-full" type="text" placeholder="100,00" id="{{ form.summe.id_for_label }}" name="{{ form.summe.name }}" 
                    {% if form.summe.field.required %}required{% endif %}
                    {% if form.summe.field.max_length %}maxlength="{{ form.summe.field.max_length }}"{% endif %}
                    {% if antrag.antragSumme %}value="{{ antrag.antragSumme }}"{% endif %}
                >
            </div>

        </div>
        {% endif %}

        <!-- Antragsdaten Verantwortlichkeit & Zeitraum -->
        {% if form.verantwortlichkeit and form.zeitraum %}
        <div class="flex flex-row mb-3">

            <div class="w-1/2 mr-3">
                <label class="block" for="{{ form.verantwortlichkeit.id_for_label }}"><b>{{ form.verantwortlichkeit.label }}</b></label>
                <input class="w-full" type="text" placeholder="Max Mustermann" id="{{ form.verantwortlichkeit.id_for_label }}" name="{{ form.verantwortlichkeit.name }}" 
                    {% if form.verantwortlichkeit.field.required %}required{% endif %} 
                    {% if form.verantwortlichkeit.field.max_length %}maxlength="{{ form.verantwortlichkeit.field.max_length }}"{% endif %}
                    {% if antrag.antragVerantwortlichkeit %}value="{{ antrag.antragVerantwortlichkeit }}"{% endif %}
                >
            </div>

            <div class="w-1/2 mr-3">
                <label class="block" for="{{ form.zeitraum.id_for_label }}"><b>{{ form.zeitraum.label }}</b></label>
                <input class="w-full" type="text" placeholder="01.10.2023-05.10.2023" id="{{ form.zeitraum.id_for_label }}" name="{{ form.zeitraum.name }}" 
                    {% if form.zeitraum.field.required %}required{% endif %} 
                    {% if form.zeitraum.field.max_length %}maxlength="{{ form.zeitraum.field.max_length }}"{% endif %}
                    {% if antrag.antragZeitraum %}value="{{ antrag.antragZeitraum }}"{% endif %}
                >
            </div>

        </div>
        {% endif %}


        <!-- Antragsdaten Vorstellung der Person -->
        {% if form.vorstellung_person  %}

        <div class="hidden">
            <p class="fragen_vorstellung_person">1. In welchen anderen - insbesondere politischen - Organisationen bist du Mitglied? Als solche Organisationen gelten mindestens Parteien, Vereine (mit Anspruch auf Veränderung und Bewahrung) oder auch sogenannte studentische Verbindungen?</p>
            <p class="fragen_vorstellung_person">2. Wie viel kannst und willst du in die Ausübung der Funktion im StuRa investieren, insbesondere im Hinblick auf Studienleistungen und andere Verbindlichkeiten?</p>
            <p class="fragen_vorstellung_person">3. Es gibt Themen mit denen der StuRa konfrontiert wird, die keinem speziellen Referat zugeordnet werden können oder den gesamten StuRa betreffen (zuletzt PEGIDA oder Ärztliches Attest). In welchem Umfang bist du bereit, dich über das spezielle Aufgabenfeld des Amtes hinaus zu engagieren?</p>
            <p class="fragen_vorstellung_person">4. Inwiefern kannst du den StuRa, oder auch die HTW Dresden, im Falle einer Zombie-Apokalypse unterstützen?</p>
        </div>

        <!-- Fragen nicht in Textarea kopieren, sollte der Antrag bearbeitet/angezeigt werden -->
        {% if not aktion %}
            <script>
                $(document).ready(function() {
                    let fragenVorstellungPerson = $('.fragen_vorstellung_person')
                    let textareaVorstellungPerson = $('#{{ form.vorstellung_person.id_for_label }}');
                    let textareaVorstellungPersonContent = ""

                    fragenVorstellungPerson.each(function(index, element) {
                        textareaVorstellungPersonContent += $(element).html() + '\n\n\n\n';
                    });

                    $(textareaVorstellungPerson).val(textareaVorstellungPersonContent);
                });
            </script>
            {% include 'components/alert.html' with type="INFO" text="Um schonmal ein Bild von dir zu bekommen, beantworte bitte die unten stehenden Fragen für deinen Antrag ehrlich." %}
        {% endif %}

        <div class="mb-3">
            <label class="block" for="{{ form.vorstellung_person.id_for_label }}"><b>{{ form.vorstellung_person.label }}</b></label>
            <textarea class="w-full" rows="19"  placeholder="Ich bin ... / Ich mag ..." 
                id="{{ form.vorstellung_person.id_for_label }}" name="{{ form.vorstellung_person.name }}" 
                {% if form.vorstellung_person.field.required %}required{% endif %} 
                {% if form.vorstellung_person.field.max_length %} maxlength="{{ form.vorstellung_person.field.max_length }}"{% endif %}
                >{% if antrag.antragVorstellungPerson %}{{ antrag.antragVorstellungPerson }}{% endif %}</textarea>
        </div>
        {% endif %}


        <!-- Antragsdaten Fragen zum Amt -->
        {% if form.fragen_amt %}

        <div class="hidden">
            <p class="fragen_amt">1. Wie bewertest du die Ausschreibung für das Amt?</p>
            <p class="fragen_amt">2. Wie bewertest du die Arbeit deiner VorgängerInnen?</p>
            <p class="fragen_amt">3. Welche Themen würdest du in der Amtszeit in den Fordergrund stellen??</p>
        </div>

        <!-- Fragen nicht in Textarea kopieren, sollte der Antrag bearbeitet/angezeigt werden -->
        {% if not aktion %}
            <script>
                $(document).ready(function() {
                    let fragenAmt = $('.fragen_amt')
                    let textareaFragenAmt = $('#{{ form.fragen_amt.id_for_label }}');
                    let textareaFragenAmtContent = ""

                    fragenAmt.each(function(index, element) {
                        textareaFragenAmtContent += $(element).html() + '\n\n\n\n';
                    });

                    $(textareaFragenAmt).val(textareaFragenAmtContent);
                });
            </script>
        {% endif %}

        <div class="mb-3">
            <label class="block" for="{{ form.fragen_amt.id_for_label }}"><b>{{ form.fragen_amt.label }}</b></label>
            <textarea class="w-full" rows="13" placeholder="Ich will dieses Amt übernehmen, weil ..." 
                id="{{ form.fragen_amt.id_for_label }}" name="{{ form.fragen_amt.name }}" 
                {% if form.fragen_amt.field.required %}required{% endif %} 
                {% if form.fragen_amt.field.max_length %} maxlength="{{ form.fragen_amt.field.max_length }}"{% endif %}
                >{% if antrag.antragFragenZumAmt %}{{ antrag.antragFragenZumAmt }}{% endif %}</textarea>
        </div>
        {% endif %}


        <!-- Hinweis zu Antrag mit finanziellen Mitteln -->
        {% if request.path == '/antrag/finanziell/' %}
            {% include 'components/alert.html' with type="WARNING" text="Neben der Kostenposition sowie der Summe benötigen wir noch eine <b>Kostenaufstellung</b> für deinen Antrag. Füge diesen einfach als <b>Anlage</b> zu deinem Antrag bei." %}
        {% endif %}


        <!-- Antragsdaten Anlagen -->
        {% if not aktion %}
        <!-- Anzeigen des Datei-Uploads, wenn über Hauptseite aufgerufen -->
        <div class="mb-5">
            <label class="block" for="{{ form.anlagen.id_for_label }}"><b>{{ form.anlagen.label }}</b></label>
            <input type="file" name="{{ form.anlagen.name }}" id="{{ form.anlagen.id_for_label }}" multiple />
        </div>
        {% elif aktion == 'ANZEIGEN' %}
        <!-- Anzeigen der hochgeladenen Dateien, wenn über Intern aufgerufen -->
        <div class="mb-7">
            <label class="block mb-3"><b>Anlagen:</b></label>
            {% for anlage in anlagen %}
                <a class="btn p-3 mr-2" href="/media/{{ anlage.anlage }}" target="_blank">{{ anlage.anlageName }}</a>
            {% empty %}
                <p class="text-stura-orange">Keine Anlagen vorhanden!</p>
            {% endfor %}
        </div>
        {% endif %}


        <!--+ Form-Actions +-->
        {% if aktion == "BEARBEITEN" %}
            <button type="submit" class="btn btn-neutral w-full hover:cursor-pointer"><i class="fa-solid fa-floppy-disk"></i> Bearbeiten</button>
        {% elif aktion == "ANZEIGEN" %}
            {% include 'components/alert.html' with type="INFO" text="Der Antrag wird lediglich angezeigt. Die Änderung der Daten hat keine Auswirkungen auf die Datenbank!" %}
        {% else %}
            <button type="submit" class="btn btn-success w-full hover:cursor-pointer"><i class="fa-solid fa-paper-plane"></i> Abschicken</button>
        {% endif %}


        <!-- Feedback: Anzeigen von Fehlermeldungen/Rückmeldungen -->
        {% if messages %}
            {% for message in messages %}
                <div class="message">
                    {% include 'components/alert.html' with type=message.tags text=message %}
                </div>
            {% endfor %}
        {% endif %}
    </form>

    <script>
        // Textarea-Höhe automatisch an Text anpassen
        $("textarea").each(function () {
            this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
          }).on("input", function () {
            this.style.height = 0;
            this.style.height = (this.scrollHeight) + "px";
          });
    </script>
{% endblock %}