{% extends "index.html" %}

{% load static %}

{% block head %}
    {{ block.super }}
    <!-- insert custom header elements -->
{% endblock %}

{% block content %}
    <form method="POST" action="#feedback" class="ml-80 mr-80">
        {% csrf_token %}

        <h1 class="text-center"><b>{{ title }}</b></h1>

        <!--+ Stammdaten Antragsteller +-->

        <div class="relative py-4 mt-3 mb-3">
            <div class="absolute inset-0 flex items-center">
                <div class="w-full border-b border-gray-700"></div>
            </div>
            <div class="relative flex justify-center">
                <span class="bg-[#dcdcdc] px-4 text-3xl text-black">Stammdaten</span>
            </div>
        </div>

        <p class="mb-3 pb-3 text-center">
            Um deinen Antrag bearbeiten zu können, benötigen wir vorerst einige Daten von dir.
        </p>
        
        <div class="flex flex-row">
            <div class="w-1/4 mr-3">
                <label class="block" for="{{ form.vorname.id_for_label }}"><b>Vorname:</b></label>
                <input class="w-full" type="text" placeholder="Reiner" id="{{ form.vorname.id_for_label }}" name="{{ form.vorname.name }}" 
                    {% if form.vorname.field.required %}required{% endif %} {% if form.vorname.field.max_length %}maxlength="{{ form.vorname.field.max_length }}"{% endif %}
                >
            </div>
            <div class="w-1/4 mr-3">
                <label class="block" for="{{ form.nachname.id_for_label }}"><b>Nachname:</b></label>
                <input class="w-full" type="text" placeholder="Zufall" id="{{ form.nachname.id_for_label }}" name="{{ form.nachname.name }}" 
                    {% if form.nachname.field.required %}required{% endif %} {% if form.nachname.field.max_length %}maxlength="{{ form.nachname.field.max_length }}"{% endif %}
                >
            </div>

            <div class="w-1/2">
                <label class="block" for="{{ form.email.id_for_label }}"><b>E-Mail Adresse:</b></label>
                <input class="w-full" type="email" placeholder="reiner@zufall.de" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" 
                    {% if form.email.field.required %}required{% endif %} {% if form.email.field.max_length %}maxlength="{{ form.email.field.max_length }}"{% endif %}
                >
            </div>
        </div>


        <!--+ Antragsdaten Allgemein +-->

        <div class="relative py-4 mt-5 mb-4">
            <div class="absolute inset-0 flex items-center">
              <div class="w-full border-b border-gray-700"></div>
            </div>
            <div class="relative flex justify-center">
              <span class="bg-[#dcdcdc] px-4 text-3xl text-black">Antragsdaten</span>
            </div>
        </div>

        <div class="mb-3">
            <label class="block" for="{{ form.titel.id_for_label }}"><b>Antragstitel:</b></label>
            <input class="w-full" type="text" placeholder="Antrag auf/für/zum ..." id="{{ form.titel.id_for_label }}" name="{{ form.titel.name }}" 
                {% if form.titel.field.required %}required{% endif %} {% if form.titel.field.max_length %}maxlength="{{ form.titel.field.max_length }}"{% endif %}
            >
        </div>

        <div class="flex flex-row mb-3">
            <div class="w-1/2 mr-3">
                <label class="block" for="{{ form.referat.id_for_label }}">
                    <b>Zuständige Stelle:</b>
                </label>
                <select name="{{ form.referat.name }}" class="w-full" {% if form.referat.field.required %}required{% endif %}>
                    {% for choice in form.referat.field.choices %}
                        <option class="p-2" value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="w-1/4">
                <label class="block" for="{{ form.ist_eilantrag.id_for_label }}"><b>Ist dies ein Eilantrag?</b></label>
                <input class="w-10 h-10 text-[#f2ac2e] focus:ring-[#f2ac2e] bg-gray-100 border-gray-300 rounded dark:focus:ring-[#f2ac2e] focus:ring-2" type="checkbox" id="{{ form.ist_eilantrag.id_for_label }}" name="{{ form.ist_eilantrag.name }}">
            </div>

            {% if form.ist_mitglied %}
            <div class="w-1/2">
                <label class="block" for="{{ form.ist_mitglied.id_for_label }}"><b>Bist du bereits ein Miglied im StuRa?</b></label>
                <input class="w-10 h-10 text-[#f2ac2e] focus:ring-[#f2ac2e] bg-gray-100 border-gray-300 rounded dark:focus:ring-[#f2ac2e] focus:ring-2" type="checkbox" id="{{ form.ist_mitglied.id_for_label }}" name="{{ form.ist_mitglied.name }}">
            </div>
            {% endif %}

        </div>

        <div class="mb-3">
            <label class="block" for="{{ form.text.id_for_label }}"><b>Antragstext:</b></label>
            <textarea class="w-full" rows="7" placeholder="Der StuRa möge beschließen, dass ..." id="{{ form.text.id_for_label }}" name="{{ form.text.name }}" 
                {% if form.text.field.required %}required{% endif %} {% if form.text.field.max_length %} maxlength="{{ form.text.field.max_length }}"{% endif %}
            ></textarea>
        </div>


        <!--+ Antragsdaten Spezifisch +-->
        {% if form.grund  %}
        <div class="mb-3">
            <label class="block" for="{{ form.grund.id_for_label }}"><b>Begründung zum Antrag:</b></label>
            <textarea class="w-full" rows="3" placeholder="Der Grund für diesen Antrag ist ..." id="{{ form.grund.id_for_label }}" name="{{ form.grund.name }}" 
                {% if form.grund.field.required %}required{% endif %} {% if form.grund.field.max_length %} maxlength="{{ form.grund.field.max_length }}"{% endif %}
            ></textarea>
        </div>
        {% endif %}

        {% if form.vorschlag  %}
        <div class="mb-3">
            <label class="block" for="{{ form.vorschlag.id_for_label }}"><b>Vorschlag zum weiteren Verfahren:</b></label>
            <textarea class="w-full" rows="3"  placeholder="Der StuRa soll in dieser Angelegenheit folgendermaßen verfahren: ..." id="{{ form.vorschlag.id_for_label }}" name="{{ form.vorschlag.name }}" 
                {% if form.vorschlag.field.required %}required{% endif %} {% if form.vorschlag.field.max_length %} maxlength="{{ form.vorschlag.field.max_length }}"{% endif %}
            ></textarea>
        </div>
        {% endif %}

        {% if form.position and form.summe %}
        <div class="flex flex-row mb-3">
            <div class="w-1/2 mr-3">
                <label class="block" for="{{ form.position.id_for_label }}"><b>Kostenposition:</b></label>
                <input class="w-full" type="text" placeholder="9000 " id="{{ form.position.id_for_label }}" name="{{ form.position.name }}" 
                    {% if form.position.field.required %}required{% endif %} {% if form.position.field.max_length %}maxlength="{{ form.position.field.max_length }}"{% endif %}
                >
            </div>
            <div class="w-1/2 mr-3">
                <label class="block" for="{{ form.summe.id_for_label }}"><b>Summe [€]:</b></label>
                <input class="w-full" type="text" placeholder="100,00" id="{{ form.summe.id_for_label }}" name="{{ form.summe.name }}" 
                    {% if form.summe.field.required %}required{% endif %} {% if form.summe.field.max_length %}maxlength="{{ form.summe.field.max_length }}"{% endif %}
                >
            </div>
        </div>
        {% endif %}

        {% if form.verantwortlichkeit and form.zeitraum %}
        <div class="flex flex-row mb-3">
            <div class="w-1/2 mr-3">
                <label class="block" for="{{ form.verantwortlichkeit.id_for_label }}"><b>Verantwortlichkeit für die Nachbearbeitung:</b></label>
                <input class="w-full" type="text" placeholder="Max Mustermann" id="{{ form.verantwortlichkeit.id_for_label }}" name="{{ form.verantwortlichkeit.name }}" 
                    {% if form.verantwortlichkeit.field.required %}required{% endif %} {% if form.verantwortlichkeit.field.max_length %}maxlength="{{ form.verantwortlichkeit.field.max_length }}"{% endif %}
                >
            </div>
            <div class="w-1/2 mr-3">
                <label class="block" for="{{ form.zeitraum.id_for_label }}"><b>Zeitraum der Nachbearbeitung:</b></label>
                <input class="w-full" type="text" placeholder="01.10.2023-05.10.2023" id="{{ form.zeitraum.id_for_label }}" name="{{ form.zeitraum.name }}" 
                    {% if form.zeitraum.field.required %}required{% endif %} {% if form.zeitraum.field.max_length %}maxlength="{{ form.zeitraum.field.max_length }}"{% endif %}
                >
            </div>
        </div>
        {% endif %}

        {% if form.vorstellung_person  %}
        <div class="mb-3">
            <label class="block" for="{{ form.vorstellung_person.id_for_label }}"><b>Vorstellung deiner Person:</b></label>
            <textarea class="w-full" rows="6"  placeholder="Ich bin ... / Ich mag ..." id="{{ form.vorstellung_person.id_for_label }}" name="{{ form.vorstellung_person.name }}" 
                {% if form.vorstellung_person.field.required %}required{% endif %} {% if form.vorstellung_person.field.max_length %} maxlength="{{ form.vorstellung_person.field.max_length }}"{% endif %}
            ></textarea>
        </div>
        {% endif %}

        {% if form.fragen_amt  %}
        <div class="mb-3">
            <label class="block" for="{{ form.fragen_amt.id_for_label }}"><b>Fragen zum Amt:</b></label>
            <textarea class="w-full" rows="6"  placeholder="Ich will diese Amt übernehmen, weil ..." id="{{ form.fragen_amt.id_for_label }}" name="{{ form.fragen_amt.name }}" 
                {% if form.fragen_amt.field.required %}required{% endif %} {% if form.fragen_amt.field.max_length %} maxlength="{{ form.fragen_amt.field.max_length }}"{% endif %}
            ></textarea>
        </div>
        {% endif %}


        <!--+ Anlagen +-->
        <div class="mb-5">
            <label class="block" for="{{ form.anlagen.id_for_label }}"><b>Anlagen:</b></label>
            {{ form.anlagen }}
        </div>

        <button class="btn w-full" type="submit">Abschicken</button>

        <!--+ Form-Feedback: Anzeigen von Fehlermeldungen/Rückmeldungen +-->
        {% if feedback %}
            <div id="feedback">
                {% include 'components/alert.html' with type=feedback.type text=feedback.text back_url=feedback.back_url %}
            </div>
        {% endif %}

    </form>
{% endblock %}