{% extends "index.html" %}

{% load static %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <div class="ml-40 mr-40">

        <table class="table-auto w-full text-left overflow-x-auto mt-3 border-separate border-spacing-y-2">

            <caption class="text-left">
                <h2><b>Alle gestellten Anträge</b></h2>
            </caption>

            <thead>
                <tr>
                    <th scope="col">Titel</th>
                    <th scope="col">Antragstyp</th>
                    <th scope="col">Antragsteller</th>
                    <th scope="col">Beschluss</th>
                    <th scope="col">Aktionen</th>
                </tr>
            </thead>

            <tbody>
                {% for antrag in antraege %}
                <tr>
                    <td>{{ antrag.antragTitel | truncatechars:50 }}</td>
                    <td>{{ antrag.typID.typName }}</td>
                    <td>{{ antrag.astellerID.astellerName | truncatechars:40 }}</td>
                    <td>
                        {% include 'components/table_column_beschluss.html' with ergebnis=antrag.beschlussID.beschlussErgebnis %}
                    </td>
                    <td>
                        <a href="{% url 'antrag-anzeigen' antragID=antrag.antragID %}" class="hover:cursor-pointer hover:text-stura-orange">
                            <i class="fa-solid fa-eye"></i> Anzeigen
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>
{% endblock %}