{% extends "index.html" %}

{% load static %}

{% block head %}
    {{ block.super }}
    <!-- insert custom header elements -->
{% endblock %}


{% block content %}

    <div class="shadow-card mt-10">
        <header class="bg-[#6495ef] p-1 pl-4">
            <h1><i class="fa-solid fa-house"></i> StuRa Antragsverwaltung </h1>
        </header>
        <div class="bg-[#f1f1f1] p-4">
            <p>
                Willkommen auf der Seite der Antrags- und Beschlussverwaltung des Sudentinnen- und Studentenrat der HTW Dresden (StuRa).
                Dieses Tool soll verwendet werden, um Anträge an den StuRa zu stellen. Anträge kann jede Person stellen. 
                Anträge an den StuRa sind immer dann notwendig, wenn der StuRa in einer bestimmten Angelegenheit aktiv werden soll, um etwa ein Ereignis finanziell oder ideell zu unterstützen, 
                Personalentscheidungen zu treffen oder selbsttätig ein Projekt anzugehen. Die Anträge werden durch das Präsidium des StuRa entgegengenommen.<br/><br/>
                Im Folgenden sind die unterschiedlichen Arten an Anträgen auszuwählen, die vom StuRa beschlossen werden können.<br/>
                Bei Fragen oder Unklarheiten kann das Präsidium unter dieser Mail (p@stura.htw-dresden.de) konsultiert werden 
            </p>
        </div>
    </div>


    <div class="relative py-4 mt-5 mb-4">
        <div class="absolute inset-0 flex items-center">
          <div class="w-full border-b border-gray-700"></div>
        </div>
        <div class="relative flex justify-center">
          <span class="bg-[#dcdcdc] px-4 text-3xl text-black">Universelle Anträge</span>
        </div>
    </div>

    
    <div class="flex flex-row space-x-5">

        <card class="shadow-card basis-1/2 bg-[#f1f1f1]">
            <header class="bg-[#f2ac2e] p-1 pl-4 cursor-pointer" onClick='location.href="/antrag/ohne-finanzen/";'>
                <div class="flex flex-row">
                    <h2 class="basis-4/5"><i class="fa-solid fa-file"></i> Antrag ohne finanzielle Mittel</h2>
                    <h2 class="basis-1/5 pt-2 pr-3"><i class="fa-solid fa-diamond-turn-right float-right"></i></h2>
                </div>
            </header>
            <div class="p-4 cursor-default">
                <p class="leading-relaxed">
                    Alle Anträge, bei denen der StuRa keine Gelder bereitstellen soll und die nicht zu Personalentscheidungen gehören, 
                    sollen hier gestellt werden. Dazu gehören zum Beispiel ideelle Unterstützungsanträge oder Anträge auf Änderung einer Ordnung des StuRa 
                    oder der Studentinnen- und Studentenschaft. 
                </p>
            </div>
        </card>

        <card class="shadow-card basis-1/2 bg-[#f1f1f1]">
            <header class="bg-[#f2ac2e] p-1 pl-4 cursor-pointer" onClick='location.href="/antrag/mit-finanzen/";'>
                <div class="flex flex-row">
                    <h2 class="basis-4/5"><i class="fa-solid fa-money-bill-1-wave"></i> Antrag mit finanziellen Mitteln</h2>
                    <h2 class="basis-1/5 pt-2 pr-3"><i class="fa-solid fa-diamond-turn-right float-right"></i></h2>
                </div>
            </header>
            <div class="p-4 cursor-default">
                <p class="leading-relaxed">
                    Alle Anträge, bei denen der StuRa Geld bereitstellen soll, gehören hier her. 
                    Dazu gehören zum Beispiel Anträge auf Ausrichtung einer Veranstaltung, die Übernahme von Fahrt- oder Reisekosten, 
                    die Übernahme von Beratungsgebühren oder die Beschaffung von Gegenständen, Software oder anderen Gütern. 
                </p>
            </div>
        </card>

    </div>


    <div class="relative py-4 mt-5 mb-4">
        <div class="absolute inset-0 flex items-center">
          <div class="w-full border-b border-gray-700"></div>
        </div>
        <div class="relative flex justify-center">
          <span class="bg-[#dcdcdc] px-4 text-3xl text-black">Anträge zu Personen</span>
        </div>
    </div>


    <div class="flex flex-row space-x-5 mb-5">

        <card class="shadow-card basis-1/3 bg-[#f1f1f1]">
            <header class="bg-[#f2ac2e] p-1 pl-4 cursor-pointer" onClick='location.href="/antrag/mitglied/";'>
                <div class="flex flex-row">
                    <h2 class="basis-4/5"><i class="fa-solid fa-user"></i> Beratendes Mitglied</h2>
                    <h2 class="basis-1/5 pt-2 pr-3"><i class="fa-solid fa-diamond-turn-right float-right"></i></h2>
                </div>
            </header>
            <div class="p-4 cursor-default">
                <p class="leading-loose">
                    Jede Person, die im StuRa mitwirken möchte, kann Beratendes Mitglied werden. Dies ist unter anderem die Voraussetzung dafür, 
                    Zugriff auf die Ressourcen des StuRa zu erhalten, Mitwirkung finanziell entschädigt zu bekommen oder eine 
                    Nichtanrechnung von Semestern nach §20 Abs. 4 SächsHSFG zu erhalten, wenn nicht bereits andere Ämter in der studentischen Interessenvertretung 
                    ausgeübt werden. Allgemein ist eine Wahl zum Beratenden Mitglied meist der niedrigschwellige Einstieg in die Mitwirkung beim StuRa.
                </p>
            </div>
        </card>

        <card class="shadow-card basis-1/3 bg-[#f1f1f1]">
            <header class="bg-[#f2ac2e] p-1 pl-4 cursor-pointer" onClick='location.href="/antrag/amt/";'>
                <div class="flex flex-row">
                    <h2 class="basis-4/5"><i class="fa-solid fa-building"></i> Wahl auf Stelle/Amt</h2>
                    <h2 class="basis-1/5 pt-2 pr-3"><i class="fa-solid fa-diamond-turn-right float-right"></i></h2>
                </div>
            </header>
            <div class="p-4 cursor-default">
                <p>
                    Wer auf ein konkretes Amt im StuRa kandidieren möchte, kann hier einen Antrag stellen. Eine vorherige Wahl zum Beratenden Mitglied ist nicht notwendig. 
                    Es sei auf die Stellenausschreibungen hingewiesen, die der StuRa auf seiner Webseite veröffentlicht.
                </p>
                <p>
                    Dieser Antrag kann nicht verwendet werden, um auf ein Amt der akademischen Selbstverwaltung zu kandideren, wie zum Beispiel dem Senat, 
                    dem Fakultätsrat oder einer Studienkommission! Die Adressaten solcher Kandidaturen sind in der Regel die jeweiligen Vorsitzenden der Gremien. 
                    Allerdings können hier auch Anträge gestellt werden, als Wahlvorschlag des StuRa auf ein solches Amt zu kandidieren. 
                    Fragen hierzu können am besten an stura@stura.htw-dresden.de gestellt werden.
                </p>
                <p>
                    Ebenso kann hiermit nicht als Stimmberechtigtes Mitglied im Plenum kandidert werden. Dies ist nur nach vorheriger Wahlausschreibung durch die Wahlleitung 
                    der Studentinnen- und Studentenschaft möglich. Kandidaturen für das Plenum des StuRa müssen an die Wahlleiterin der Studentinnen- und Studentenschaft, 
                    erreichbar unter wahl@stura.htw-dresden, gerichtet werden.
                </p>
            </div>
        </card>

        <card class="shadow-card basis-1/3 bg-[#f1f1f1]">
            <header class="bg-[#f2ac2e] p-1 pl-4 cursor-pointer" onClick='location.href="/antrag/benehmen/";'>
                <div class="flex flex-row">
                    <h2 class="basis-4/5"><i class="fa-solid fa-gavel"></i> Herstellung des Benehmens</h2>
                    <h2 class="basis-1/5 pt-2 pr-3"><i class="fa-solid fa-diamond-turn-right float-right"></i></h2>
                </div>
            </header>
            <div class="p-4 cursor-default">
                <p class="leading-loose">
                    Dieses Antragsformular richtet sich vor allem an die Dekan:innen und Studiendekan:innen der HTW. 
                    Soll nach §91 SächsHSFG das Benehmen für eine odere mehrere Personen hergestellt werden, die Studiendekan:in oder Mitglied 
                    einer Studienkommission werden sollen, kann dies hier beantragt werden. 
                </p>
            </div>
        </card>

    </div>

{% endblock %}