{% extends "index.html" %}

{% load static %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="login-wrapper shadow-card bg-[#333]">
        <div class="w3-animate-opacity">
            <h1 class="text-center"><b>ABV-Anmeldung</b></h1>
            <form method="POST" class="login-form">
                {% csrf_token %}
                {{ form.as_div }}
                <button type="submit">Anmelden</button>
            </form>

            <!-- Feedback: Anzeigen von Fehlermeldungen/Rückmeldungen -->
            {% if messages %}
                {% for message in messages %}
                    <div class="message">
                        {% include 'components/alert.html' with type=message.tags text=message %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}