{% extends "index.html" %}

{% load static %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="login-wrapper shadow-card">
        <div class="content w3-animate-opacity">
            <h1 class="text-center"><b>ABV-Anmeldung</b></h1>
            <form method="POST" class="login-form">
                {% csrf_token %}
                {{ form.as_div }}
                <button type="submit">Anmelden</button>
                <p class="login-feedback">{{ msg }}</p>
            </form>
        </div>
    </div>
{% endblock %}