{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="de">

    <head>
        {% block head %}
            {% load static %}
            {% tailwind_css %}
            <meta charset="UTF-8">
            <title>{% if title %}{{ title }}{% else %}Unbekannt{% endif %} | ABV-Tool StuRa</title>
            <link rel="icon" href="{% static 'icon.png' %}" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <link rel="stylesheet" href="{% static 'css/main.css' %}">
            <link rel="stylesheet" href="{% static 'css/W3.css' %}">
            <link rel="stylesheet" href="{% static 'fontawesomefree/css/all.min.css' %}" type="text/css">
        {% endblock %}    
    </head>

    <body>
        
        <div class="logo w3-animate-top select-none">
            <img src="{% static 'img/logo.png' %}" class="w3 m-3" alt="StuRa HTW Dresden"/>
        </div>
        
        {% include 'components/header.html' %}

        <div class="w3-animate-top flex flex-row justify-left bg-[#999] text-white select-none">
            <div class="p-1">
                {% block breadcrumbs %}
                {% endblock %}
            </div>
        </div>

        <div class="content w3-animate-opacity m-10">
            {% block content %}
                <!-- extended blocks will be placed here -->
            {% endblock %}
        </div>

        {% include 'components/footer.html' %}

    </body>

</html>
