<!DOCTYPE html>
<html lang="de">

    {% load static tailwind_tags %}

    <head>
        {% block head %}
            {% load static %}
            {% tailwind_css %}
            <meta charset="UTF-8">
            <title>{% if title %}{{ title }}{% else %}Unbekannt{% endif %} | ABV-Tool StuRa</title>
            <link rel="icon" href="{% static 'icon.png' %}" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <link rel="stylesheet" href="{% static 'css/mainstyle.css' %}">
            <link rel="stylesheet" href="{% static 'css/W3.css' %}">
            <link rel="stylesheet" href="{% static 'css/index.css' %}">
            <link rel="stylesheet" href="{% static 'fontawesomefree/css/all.min.css' %}" type="text/css">
        {% endblock %}    
    </head>

    <body>

        <div class = "logo w3-animate-top">
            <img src="{% static 'img/logo.png' %}" class = "sturalogo w3-hover-grayscale" alt="ToolLogo"/>
        </div>
        
        {% include 'components/header.html' %}

        <div class = "content w3-animate-opacity">
            {% block content %}
                <!-- extended blocks will be placed here -->
            {% endblock %}
        </div>

        {% include 'components/footer.html' %}

    </body>

</html>