# Syntax: https://git-scm.com/docs/gitignore

# General
.DS_Store
*~
src/venv/
__pycache__
.idea
.vscode
.venv

src/result
src/node_modules

media/
media/anlagen

migrations/
migrations/*

media/
media/anlagen

