<!DOCTYPE html>
<html lang="DE">
    <head>
        <meta charset="UTF-8">
        <title>Eingang eines Antrags</title>
    </head>
    <body style="font-family: Arial, sans-serif;">
        Hallo zusammen,<br><br>

        ein Antrag mit dem Titel {{ antrag.antragTitel}} ist bei uns eingegangen und wird in der nächsten Sitzung behandelt.<br>
        Diese wird vorraussichtlich am {{ antrag.sitzID.sitzDate }} stattfinden.<br><br>

        Viele Grüße,<br>
        Dein StuRa-Team!
        
        
    </body>
</html>