{% extends "index.html" %}

{% load static %}

{% block head %}
    {{ block.super }}
    <!-- insert custom header elements -->
{% endblock %}

{% block content %}
    <!-- insert content -->
    <div class="ml-40 mr-40">
        <div class="w-full">
            <!-- TODO: URL-Referenzen einfügen -->
            <a href="" class="btn btn-success hover:cursor-pointer mr-5">
                <i class="fa-solid fa-circle-plus"></i> Tagesordnung erstellen
            </a>
            <a href="" class="btn btn-success hover:cursor-pointer">
                <i class="fa-solid fa-circle-check"></i> Sitzung abschließen
            </a>
        </div>

        <table class="table-auto w-full text-left overflow-x-auto mt-3 border-separate border-spacing-y-2">
            <caption class="text-left">
                <h2><b>Alle gestellten Anträge</b></h2>
            </caption>
            <thead>
                <tr>
                    <th scope="col">Antragstyp</th>
                    <th scope="col">Titel</th>
                    <th scope="col">Antragsteller</th>
                    <th scope="col">Eilantrag?</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Beschluss</th>
                </tr>
            </thead>
            <tbody>
                {% for antrag in antraege %}
                <tr>
                    <td>{{ antrag.typID.typName }}</td>
                    <td>{{ antrag.antragTitel | truncatechars:50 }}</td>
                    <td>{{ antrag.astellerID.astellerName | truncatechars:40 }}</td>
                    <td>
                        {% if antrag.istEilantrag %}
                            <i class="fa-solid fa-check"></i>
                        {% else %}
                            <i class="fa-solid fa-xmark"></i>
                        {% endif %}
                    </td>
                    
            
                    <td>
                        <a href="{% url 'antrag-anzeigen' antragID=antrag.antragID %}" class="hover:cursor-pointer hover:text-stura-orange">
                            <i class="fa-solid fa-eye"></i> Anzeigen
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'antrag-bearbeiten' antragID=antrag.antragID %}" class="hover:cursor-pointer hover:text-stura-orange">
                            <i class="fa-solid fa-pen-to-square"></i> Bearbeiten
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'antrag-loeschen' antragID=antrag.antragID %}" class="hover:cursor-pointer hover:text-stura-orange">
                            <i class="fa-solid fa-trash-can"></i> Löschen
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'sitzung-verwalten' sitzID=antrag.sitzID.sitzID %}" class="hover:cursor-pointer hover:text-stura-orange">
                            <i class="fa-solid fa-diamond-turn-right"></i> Sitzung
                        </a>
                    </td>
                    <td>
                        {% include 'components/beschluss.html' with ergebnis=antrag.beschlussID.beschlussErgebnis %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}