{% extends "index.html" %}

{% load static %}

{% block head %}
    {{ block.super }}
    <!-- insert custom header elements -->
{% endblock %}

{% block breadcrumbs %}
    <a href="/" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-lock"></i> Intern</a>
    <i class="fa-solid fa-angle-right"></i>
    <a href="{% url 'sitzungsverwaltung' %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-regular fa-folder-open"></i> Anträge</a>
{% endblock %}

{% block content %}
    <!-- insert content -->
    <div class="ml-40 mr-40">
        <div class="relative overflow-x-auto bg-[#b4b4b4] p-5 pt-3 rounded-lg">
            <table class="table-auto w-full text-left overflow-x-auto border-collapse border-spacing-y-2">
                <thead class="text-gray-700 uppercase">
                    <tr class="border-b border-b-[#dcdcdc]">
                        <th scope="col" class="px-2 py-3">Antragstyp</th>
                        <th scope="col" class="px-2 py-3">Titel</th>
                        <th scope="col" class="px-2 py-3">Antragsteller</th>
                        <th scope="col" class="px-2 py-3 text-center">Eilantrag?</th>
                        <th scope="col" class="px-2 py-3 text-center">Aktionen</th>
                        <th scope="col" class="px-2 py-3">Beschluss</th>
                    </tr>
                </thead>
                <tbody>
                    {% for antrag in antraege %}
                    <tr class="border-b border-b-[#dcdcdc]">
                        <td class="px-2 py-3">{{ antrag.typID.typName }}</td>
                        <td class="px-2 py-3">{{ antrag.antragTitel | truncatechars:50 }}</td>
                        <td class="px-2 py-3">{{ antrag.astellerID.astellerName | truncatechars:40 }}</td>
                        <td class="px-2 py-3 text-center">
                            {% if antrag.istEilantrag %}
                                <i class="fa-solid fa-check"></i>
                            {% else %}
                                <i class="fa-solid fa-xmark"></i>
                            {% endif %}
                        </td>
                        <td class="px-2 py-3">
                            <a href="{% url 'antrag-anzeigen' antragID=antrag.antragID %}" class="hover:cursor-pointer hover:text-stura-orange mr-5">
                                <i class="fa-solid fa-eye"></i> Anzeigen
                            </a>
                            <a href="{% url 'antrag-bearbeiten' antragID=antrag.antragID %}" class="hover:cursor-pointer hover:text-stura-orange mr-5">
                                <i class="fa-solid fa-pen-to-square"></i> Bearbeiten
                            </a>
                            <a href="{% url 'sitzung-verwalten' sitzID=antrag.sitzID.sitzID %}" class="hover:cursor-pointer hover:text-stura-orange">
                                <i class="fa-solid fa-diamond-turn-right"></i> Sitzung
                            </a>
                        </td>
                        <td class="px-2 py-3">
                            {% include 'components/table_column_beschluss.html' with ergebnis=antrag.beschlussID.beschlussErgebnis %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}