{% extends "index.html" %}

{% load static %}

{% block head %}
    {{ block.super }}
    <!-- insert custom header elements -->
{% endblock %}

{% block content %}

    <form method="POST" action="" class="ml-96 mr-96">
        {% csrf_token %}

        <h1 class="text-center"><b>{{ title }}</b></h1>

        <!-- Anzeigen des Referates bei Bearbeiten/Löschen -->
        <div class="relative py-4 mt-5 mb-4">
            <div class="absolute inset-0 flex items-center">
                <div class="w-full border-b border-gray-700"></div>
            </div>
            <div class="relative flex justify-center">
                <span class="bg-[#dcdcdc] px-4 text-3xl text-black">{{ referat.refName }}</span>
            </div>
        </div>

        <!-- Form-Input: refName -->
        <div class="mb-3">
            <label class="block" for="{{ form.referat_name.name }}"><b>Referatsname:</b></label>
            <input class="w-full" type="text" value="{{ referat.refName }}" placeholder="Verwaltung X" id="{{ form.referat_name.name }}" name="{{ form.referat_name.name }}" maxlength="{{ form.referat_name.field.max_length }}" {% if action == "DELETE" %}disabled{% else %}required{% endif %}>
        </div>

        <!-- Form-Input: refZyklus mit Tooltip zur Information -->
        <div class="mb-5">
            <label class="block" for="{{ form.referat_zyklus.name }}" >
                <b>{% include 'components/tooltip.html' with display_text="Wochen-Zyklus der Sitzungen:" tooltip_text="Beschreibt, nach wie vielen Wochen die nächste Sitzung dieses Referates stattfindet." %}</b>
            </label>
            <input class="w-full" type="number" value="{{ referat.refZyklus }}" placeholder="2" id="{{ form.referat_zyklus.name }}" name="{{ form.referat_zyklus.name }}" maxlength="{{ form.referat_zyklus.field.max_length }}" {% if action == "DELETE" %}disabled{% else %}required{% endif %}>
        </div>


        <!-- Form-Submit: Anderer Button, je nach momentaner action (definiert in views.py) -->
        {% if action == "CREATE" %}

            <button type="submit" class="btn btn-success w-full hover:cursor-pointer"><i class="fa-solid fa-circle-plus"></i> Erstellen</button>

        {% elif action == "EDIT" %}

            <button type="submit" class="btn btn-neutral w-full hover:cursor-pointer"><i class="fa-solid fa-floppy-disk"></i> Bearbeiten</button>

        {% elif action == "DELETE" %}

            {% include 'components/alert.html' with type="WARNING" text="Du bist dabei, das Referat "|add:referat.refName|add:" zu löschen. Damit werden auch alle Sitzungen dieses Referates entfernt!" %}
            
            <button type="submit" class="btn btn-danger w-full hover:cursor-pointer"><i class="fa-solid fa-trash-can"></i> Löschen</button>

        {% endif %}


        <!-- Form-Feedback: Anzeigen von Fehlermeldungen/Rückmeldungen -->
        {% if feedback %}
            <div id="feedback">
                {% include 'components/alert.html' with type=feedback.type text=feedback.text back_url=feedback.back_url %}
            </div>
        {% endif %}

    <form>

{% endblock %}