{% extends "index.html" %}

{% load static %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <a href="/" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-lock"></i> Intern</a>
    <i class="fa-solid fa-angle-right"></i>
    <a href="{% url 'referatsverwaltung' %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-rectangle-list"></i> Referate</a>
    <i class="fa-solid fa-angle-right"></i>
    {% if aktion|lower == 'erstellen' %}
        <a href="{% url 'referat-erstellen' %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-circle-plus"></i> Erstellen</a>
    {% elif aktion|lower == 'bearbeiten' %}
        <a href="#" class="ml-4 mr-4 cursor-default">{{ referat }}</a>
        <i class="fa-solid fa-angle-right"></i>
        <a href="{% url 'referat-bearbeiten' refID=referat.refID %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-pen-to-square"></i> Bearbeiten</a>
    {% elif aktion|lower == 'loeschen' %}
        <a href="#" class="ml-4 mr-4 cursor-default">{{ referat }}</a>
        <i class="fa-solid fa-angle-right"></i>
        <a href="{% url 'referat-loeschen' refID=referat.refID %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-trash-can"></i> Löschen</a>
    {% endif %}
{% endblock %}

{% block content %}

    <form method="POST" action="#feedback" class="xl:mr-5 xl:ml-5 2xl:mr-96 2xl:ml-96">
        {% csrf_token %}

        <h1 class="text-center"><b>{{ title }}</b></h1>

        <!-- Anzeigen des Referates bei Bearbeiten/Löschen -->
        <div class="relative py-4 mt-5 mb-4">
            <div class="absolute inset-0 flex items-center">
                <div class="w-full border-b border-gray-700"></div>
            </div>
            <div class="relative flex justify-center">
                <span class="bg-[#dcdcdc] px-4 text-3xl text-black">{{ referat.refName }}</span>
            </div>
        </div>

        <!-- Form-Input: refName -->
        <div class="mb-3">
            <label class="block" for="{{ form.referat_name.name }}"><b>{{ form.referat_name.label }}</b></label>
            <input class="w-full" type="text" value="{{ referat.refName }}" placeholder="Verwaltung X" 
                id="{{ form.referat_name.name }}" name="{{ form.referat_name.name }}" 
                maxlength="{{ form.referat_name.field.max_length }}" 
                {% if aktion == "LOESCHEN" %}
                    disabled
                {% else %}
                    required
                {% endif %}>
        </div>


        <!-- Form-Input: refEmail -->
        <div class="mb-5">
            <label class="block" for="{{ form.referat_email.name }}"><b>{{ form.referat_email.label }}</b></label>
            <input class="w-full" type="email" value="{{ referat.refEmail }}" placeholder="verwaltung@stura.htw-dresden.de" 
                id="{{ form.referat_email.name }}" 
                name="{{ form.referat_email.name }}" 
                maxlength="{{ form.referat_email.field.max_length }}" 
                {% if aktion == "LOESCHEN" %}
                    disabled
                {% else %}
                    required
                {% endif %}>
        </div>


        <!-- Form-Submit: Anderer Button, je nach momentaner aktion (definiert in views.py) -->
        {% if aktion == "ERSTELLEN" %}
            <button type="submit" class="btn btn-success w-full hover:cursor-pointer"><i class="fa-solid fa-circle-plus"></i> Erstellen</button>
        {% elif aktion == "BEARBEITEN" %}
            <button type="submit" class="btn btn-neutral w-full hover:cursor-pointer"><i class="fa-solid fa-floppy-disk"></i> Bearbeiten</button>
        {% elif aktion == "LOESCHEN" %}
            {% include 'components/alert.html' with type="WARNING" text="Du bist dabei, das Referat "|add:referat.refName|add:" zu löschen. Damit werden auch alle Sitzungen dieses Referates entfernt!" %}
            <button type="submit" class="btn btn-danger w-full hover:cursor-pointer"><i class="fa-solid fa-trash-can"></i> Löschen</button>
        {% endif %}


        <!-- Feedback: Anzeigen von Fehlermeldungen/Rückmeldungen -->
        {% if messages %}
            {% for message in messages %}
                <div class="message">
                    {% include 'components/alert.html' with type=message.tags text=message %}
                </div>
            {% endfor %}
        {% endif %}

    <form>

{% endblock %}