{% extends "index.html" %}

{% load static %}

{% block head %}
    {{ block.super }}
    <!-- insert custom header elements -->
{% endblock %}

{% block content %}
    <!-- insert content -->

    <div class="ml-80 mr-80">

        <div class="w-full">
            <a href="{% url 'referat-erstellen' %}" class="btn btn-success w-full hover:cursor-pointer">
                <i class="fa-solid fa-circle-plus"></i> Referat erstellen
            </a>
        </div>

        <table class="table-auto w-full text-left overflow-x-auto mt-5">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Ref Name</th>
                    <th scope="col">Zyklus</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for referat in referate %}
                <tr>
                    <td>{{ referat.refID }}</td>
                    <td>{{ referat.refName }}</td>
                    <td>{{ referat.refZyklus }}</td>
                    <td>
                        <a href="{% url 'referat-bearbeiten' refID=referat.refID %}" class="hover:cursor-pointer">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'referat-loeschen' refID=referat.refID %}" class="hover:cursor-pointer">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}