{% extends "index.html" %}

{% load static %}

{% block head %}
    {{ block.super }}
    <!-- insert custom header elements -->
{% endblock %}

{% block breadcrumbs %}
    <a href="/" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-lock"></i> Intern</a>
    <i class="fa-solid fa-angle-right"></i>
    <a href="{% url 'sitzungsverwaltung' %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-calendar-days"></i> Sitzungsverwaltung</a>
    <i class="fa-solid fa-angle-right"></i>
    <a href="{% url 'sitzung-verwalten' sitzID=sitzung.sitzID %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-list-check"></i> {{ sitzung }}</a>
    <i class="fa-solid fa-angle-right"></i>
    <a href="{% url 'tagesordnung-vorschau' sitzID=sitzung.sitzID %}" class="cursor-pointer hover:text-stura-orange ml-4 mr-4"><i class="fa-solid fa-arrow-down-1-9"></i> Tagesordnung</a>
{% endblock %}

{% block content %}

    <div class="xl:mr-5 xl:ml-5 2xl:mr-80 2xl:ml-80">

        <div class="relative py-4 mt-5 mb-4">
            <div class="absolute inset-0 flex items-center">
                <div class="w-full border-b border-gray-700"></div>
            </div>
            <div class="relative flex justify-center">
                <span class="bg-[#dcdcdc] px-4 text-3xl text-black">{{ title }}</span>
            </div>
        </div>


        {% include 'components/alert.html' with type="INFO" text="Die <b>Tagesordnung</b> wird aus einer <b>gespeicherten Vorlage</b> erstellt und mit den <b>Anträgen</b> der Sitzung <b>ergänzt</b>. Die <b>Priorität der Anträge</b> muss im <b>vorigen Schritt definiert</b> worden sein; dies ist <b>nachträglich</b> nur noch mittels <b>Copy-Paste</b> im Etherpad änderbar." %}


        <div class="flex flex-row">
            {% if sitzung.etherpadLink %}
                <a href="{{ sitzung.etherpadLink }}" class="w-full text-center btn btn-success hover:cursor-pointer" target="_blank">
                    <i class="fa-solid fa-link"></i> Etherpad der Sitzung öffnen
                </a>
            {% else %}
                <a href="{% url 'tagesordnung-erstellen' sitzID=sitzung.sitzID %}" class="w-full text-center btn bg-stura-orange hover:cursor-pointer">
                    <i class="fa-solid fa-circle-plus"></i> Tagesordnung erstellen
                </a>
            {% endif %}
        </div>


        <!-- Feedback: Anzeigen von Fehlermeldungen/Rückmeldungen -->
        {% if messages %}
            {% for message in messages %}
                <div class="message">
                    {% include 'components/alert.html' with type=message.tags text=message %}
                </div>
            {% endfor %}
        {% endif %}


    </div>

{% endblock %}