{% load static %}

<div class="footer w3-animate-bottom w-full bg-[#333333] h-30">
    <div class="flex justify-center p-5 space-x-10">

        <a href="https://www.djangoproject.com/" target="_blank">
            <img src="{% static 'img/footer/Django.png' %}" alt="Stura Logo" class="max-h-20" />
        </a>

        <a href="https://www.stura.htw-dresden.de/" target="_blank">
            <img src="{% static 'img/footer/Stura_htw.png' %}" alt="Stura Logo" class="max-h-25 mt-2"/>
        </a>

        <a href="https://www.mysql.com/" target="_blank">
            <img src="{% static 'img/footer/mysql.png' %}" alt="Stura Logo" class="max-h-20" />
        </a>

    </div>
</div>
