{% load static %}


<div class="w3-animate-top bg-[#333] text-white justify-around select-none">
    <div class="flex flex-row justify-center">

        <!-- Hauptseiten -->
        <div class="w-1/3">
            <ul class="">
                <li class="float-left p-4 cursor-pointer hover:bg-[#f2982e] {% if request.get_full_path == "/" %} active{% endif %}" onClick="location.href='{%  url 'index' %}'">
                    <i class="fa-solid fa-house"></i> Home
                </li>
                <a href="https://www.stura.htw-dresden.de/stura" target="_blank">
                    <li class="float-left p-4 cursor-pointer hover:bg-[#f2982e]">
                        <i class="fa-solid fa-circle-info"></i> Über Uns
                    </li>
                </a>
                <li class="float-left p-4 cursor-pointer hover:bg-[#f2982e] {% if request.get_full_path == "/archiv/" %} active{% endif %}" onClick="location.href='{%  url 'archiv' %}'">
                    <i class="fa-solid fa-box-archive"></i> Archiv
                </li>
            </ul>
        </div>

        <!-- Interner Bereich -->
        <div class="w-1/3">
            {% if user.is_authenticated %}
            <ul class="flex flex-row justify-center">
                <li class="float-left p-4 cursor-pointer hover:bg-[#f2982e] {% if request.get_full_path == "/intern/referatsverwaltung/" %}active{% endif %}" 
                    onClick="location.href='{%  url 'referatsverwaltung' %}'">
                    <i class="fa-solid fa-rectangle-list"></i> Referate
                </li>
                <li class="float-left p-4 cursor-pointer hover:bg-[#f2982e] {% if request.get_full_path == "/intern/sitzungsverwaltung/" %}active{% endif %}" 
                    onClick="location.href='{%  url 'sitzungsverwaltung' %}'">
                    <i class="fa-solid fa-calendar-days"></i> Sitzungsverwaltung
                </li>
                <li class="float-left p-4 cursor-pointer hover:bg-[#f2982e] {% if request.get_full_path == "/intern/antragsverwaltung/" %}active{% endif %}"
                    onClick="location.href='{%  url 'antragsverwaltung' %}'">
                    <i class="fa-sharp fa-solid fa-file"></i> Anträge
                </li>
            </ul>
            {% endif %}
        </div>

        <!-- Benutzer -->
        <div class="w-1/3">
            <ul>
            {% if user.is_authenticated %}
                <li class="float-right p-4 cursor-pointer hover:bg-[#6495ed]" onClick="location.href='{%  url 'logout' %}'">
                    Abmelden <i class="fa-solid fa-right-from-bracket"></i>
                </li>
                <li class="float-right p-4 cursor-pointer hover:bg-[#6495ed]" onClick="window.open('/admin')">
                    Administration <i class="fa-solid fa-screwdriver-wrench"></i>
                </li>
                <!-- display user's firstname if defined -->
                <li class="float-right p-4 cursor-pointer hover:bg-[#6495ed]">
                    Willkommen, <b>{% if request.user.first_name == '' %}{{ request.user }}{% else %}{{ request.user.first_name }}{% endif %}</b>!
                </li>
            {% else %}
                <li class="float-right p-4 cursor-pointer hover:bg-[#6495ed] {% if request.get_full_path == "/accounts/login/" %} active{% endif %}">
                    <a href="{%  url 'login' %}">Anmelden <i class="fa-solid fa-right-from-bracket"></i></a>
                </li>
            {% endif %}
            </ul>
        </div>


    </div>
</div>
