<div class="group cursor-pointer relative inline-block border-gray-400 text-center">{{ display_text}} <i class="fa-regular fa-circle-question"></i>
    <div class="opacity-0 w-96 bg-black text-white text-center text-xs rounded-lg py-2 absolute z-10 group-hover:opacity-100 bottom-full -left-1/2 ml-14 px-3 pointer-events-none">
        {{ tooltip_text}}
        <svg class="absolute text-black h-2 w-full left-0 top-full" x="0px" y="0px" viewBox="0 0 255 255" xml:space="preserve"><polygon class="fill-current" points="0,0 127.5,127.5 255,0"/></svg>
    </div>
</div>
