<!DOCTYPE html>
<html lang="de">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Antragsverwaltungstool</title>
    <link rel="icon" href="{% static 'icon.png' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/mainstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/W3.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
<div class = "logo w3-animate-top">
    <img src="{% static 'img/logo.png' %}" class = "sturalogo w3-hover-grayscale" alt="ToolLogo"/>
</div>
{% include 'Antragstool/header.html' %}

<div class = "content w3-animate-opacity">
    <h1>Universelle Anträge:</h1>

    <div class = "w3-row" style="margin-bottom: 20px">
		{% for referat in referate %}
        <a href="{% url 'SitzungenVonReferat' sitzid=referat.refID %}"><div class="w3-half" style="margin-bottom: 10px;">
            <div class="w3-card-4" style="margin-right: 10px">
                <header class="w3-container" style="background-color: #F2AC2E;">
				<h2>{{ referat.refName }}</h2>
                </header>

                <div class="w3-container w3-light-gray">
					<!--{{ referat.refID }}-->
                </div>
            </div>
        </div></a>
		{% endfor %}

    </div>
</div>
{% include 'Antragstool/footer.html' %}
</body>
</html>
