<!DOCTYPE html>
<html lang="DE">
    <head>
        <meta charset="UTF-8">
        <title>Ergebnis deines Antrags</title>
    </head>
    <body style="font-family: Arial, sans-serif;">

        Hallo {{ antrag.astellerID.astellerName }},<br><br>
        dein Antrag {{ antrag.antragTitel}} wurde mit {{ antrag.beschlussID.stimmenJa }} Stimmen dafür, {{ antrag.beschlussID.stimmenNein }} Stimmen dagegen und {{ antrag.beschlussID.stimmenEnthaltung }} Stimmen Enthaltungen {{ antrag.beschlussID.beschlussErgebnis }}.<br><br>

        Viele Grüße,<br>
        Dein StuRa-Team!

    </body>
</html>