<!DOCTYPE html>
<html lang="DE">
    <head>
        <meta charset="UTF-8">
        <title>Vertagung deines Antrags</title>
    </head>
    <body style="font-family: Arial, sans-serif;">
        
        Hey zusammen,<br><br>

        die Sitzung, für welche ihr eure Anträge eingereicht habt, wurde vertagt.<br><br>

        Darunter zählen folgende Anträge:
        
        <br>
        
        <ul>
        {% for antrag in antraege %}
            <li>{{ antrag.antragTitel }}</li>
        {% endfor %}
        </ul>
        
        <br>

        Die nächste Sitzung findet am {{ sitzung.sitzDate }} statt.<br><br>

        Viele Grüße,<br>
        Dein StuRa-Team!
        
    </body>
</html>