<!-- templates/registration/login.html -->

<!-- check if user is alerady logged in -->

<!DOCTYPE html>
<html lang="de">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Antragsverwaltungstool</title>
    <link rel="icon" href="{% static 'icon.png' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/mainstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/W3.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

    <div class = "logo w3-animate-top">
        <img src="{% static 'img/logo.png' %}" class = "sturalogo w3-hover-grayscale" alt="ToolLogo"/>
    </div>

    {% include 'Antragstool/header.html' %}


    <div class="login-wrapper">
        <div class="content w3-animate-opacity">
            <h1 class="text-center"><b>StuRa-Login</b></h1>
            <form method="post" class="login-form">
                {% csrf_token %}
                {{ form.as_div }}
                <button type="submit">Anmelden</button>
                <p class="login-feedback">{{ msg }}</p>
            </form>
        </div>
    </div>

    {% include 'Antragstool/footer.html' %}

</body>
</html>