{% load static %}
<div class = "footer w3-animate-bottom">
    <table>
        <tr>
            <td><a href="https://www.w3schools.com/default.asp"><img src="{% static 'img/footer/W3.png' %} " alt = "W3 Logo"/><br>W3 schools</a></td>
            <td><a href="https://www.djangoproject.com/"><img src="{% static 'img/footer/django.png' %} " alt = "Django Logo"/><br>Django</a></td>
            <td><a href="https://www.stura.htw-dresden.de/"><img src="{% static 'img/footer/Stura_htw.png' %} " alt = "Stura Logo"/><br></a></td>
            <td><a href="https://www.gnu.org/home.de.html"><img src="{% static 'img/footer/gnu.png' %} " alt = "GNU Logo"/><br>GNU</a></td>
            <td><a href="https://www.mysql.com/de/"><img src="{% static 'img/footer/mysql.png' %} " alt = "SQL Logo"/><br>mySQL</a></td>
	    <td><a href="https://httpd.apache.org/"><img src="{% static 'img/footer/apache.png' %}" alt = "Apache Logo"/><br>Apache</a></td>
        </tr>
    </table>
</div>
