# production dependencies
gunicorn
Django
psycopg2
django-money
fontawesomefree
requests
python-dotenv
django-extensions

# development dependencies
django-tailwind
django-browser-reload

# testing dependencies
flake8
psycopg2