.content{
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 20px;
}

.form, .w3-half input{
    margin-bottom: 15px;
}

.mybutton{
    float: right;
    padding: 15px;
    margin-left: 10px;
}

.npad{
    padding-right: 10px;
}

.upl{
    float: right;
    margin-bottom: 15px;
}