.content{
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 20px;
}

.mybutton{
    float: right;
    padding: 15px;
    margin-bottom: 10px;
}

.myform{
    margin-top: 10px;
    margin-bottom: 10px;
}

.myform select{
    margin-bottom: 15px;
}

.applimg{
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

td{
    text-align: center;
}

a{
    text-decoration: none;
}

/* unvisited link */
.ap_link{
    color: cornflowerblue;
  }
  
  /* visited link */
  .ap_link:visited {
    color: #F2AC2E;
  }
  
  /* mouse over link */
  .ap_link:hover {
    color: #F2AC2E;
  }
  
  /* selected link */
  .ap_link:active {
    color: cornflowerblue;
  }