/* Login-Formular */
.login-wrapper {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #333;
    border: 0;
    box-shadow: 10px 10px #777;
    color: white;
}
.login-form input {
    padding: 5px;
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
    border: 0;
    color: black;
}

.login-form button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #F2AC2E;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.text-center {
    text-align: center;
}
.mb-3 {
    margin-bottom: 10px !important;
}
.login-feedback {
    color: red;
    text-align: center;
    font-weight: 200;
}