<h1 class="color:orange"><b><u>x. Sitzung {{ sitzung.refID }} {% now "d.m.Y" %}</u></b></h1>
<br><br>

<!-- Organisatorisches -->
<h2><b>Organisatorisches</b></h2>
<br>

<p><u>Sitzungsleitung:</u>&nbsp;</p>
<p><u>Redeleitung:</u>&emsp;&ensp;&nbsp;</p>
<p><u>Mitschrift:</u>&emsp;&emsp;&emsp;</p>
<p><u>Sitzungsbeginn:</u>&nbsp;</p>
<p><u>Sitzungsende:</u>&nbsp;&nbsp;&nbsp;&nbsp;</p>
<br>


<!-- Anwesenheit -->
<h2><b>Anwesenheit</b></h2>
<br>

<p>Vertretung der Fakultät Bauingenieurwesen</p>
<ul><li></li></ul>
<br>

<p>Vertretung der Fakultät Elektrotechnik</p>
<ul><li></li></ul>
<br>

<p>Vertretung der Fakultät Landbau/Umwelt/Chemie</p>
<ul><li></li></ul>
<br>

<p>Vertretung der Fakultät Informatik/Mathematik</p>
<ul><li></li></ul>
<br>

<p>Vertretung der Fakultät Maschinenbau</p>
<ul><li></li></ul>
<br>


<p>Vertretung der Fakultät Geoinformation</p>
<ul><li></li></ul>
<br>

<p>Vertretung der Fakultät Wirtschaftswissenschaften</p>
<ul><li></li></ul>
<br>

<p>Vertretung der Fakultät Design</p>
<ul><li></li></ul>
<br>

<p>Andere Mitglieder</p>
<ul><li></li></ul>
<br>

<p>Gäste</p>
<ul><li></li></ul>
<br>


<!-- TOP -->
<h1 class="color:green"><b><u>TOP</u></b></h1>
<br>


<h2 class="color:blue"><b>0. Fomalia</b></h2>
<br>

<ul>
    <li>1. Begr&#xFC;ßung zur Sitzung</li>

    <li>2. Hinweis zur Audio-Aufzeichnung der Sitzung</li>

    <li>3. Bestellung der Redeleitung und Protokollf&#xFC;hrung</li>

    <li>4. Bekanntgabe von Beschl&#xFC;ssen</li>
    <ul>
        <li>4.1. Vorstand</li>
        <ul>
            <li>4.1.1. Beschluss</li>
        </ul>
        <li>4.2. Referatskollegium</li>
        <li>4.3. Referatsleitung</li>
        <li>4.4. Andere Stelle </li>
    </ul>

    <li>5. Mitgliedschaft</li>
    <ul>
        <li>5.1. Studentische Selbstvertretung</li>
        <li>5.2. Studentische Vertretung</li>
    </ul>

    <li>6. Beschlussfähigkeit</li>
    <ul>
        <li>6.1. Feststellung der Anzahl von Stimmberechtigten:</li>
        <ul>
            <li>6.1.1. X Stimmberechtigte von Y Gewählten</li>
            <li>6.1.2. Es ruhen die Stimmen von:</li>
            <ul>
                <li>Name des Mitgliedes (Vertretung der Fakultät XYZ) wegen des mehrfach aufeinander folgenden, unentschuldigten Fehlens bei ordentlichen Sitzungen;</li>
            </ul>
        </ul>
        
        <li>6.2. Feststellung der Beschlussfähigkeit:</li>
        <ul>
            <li>6.2.1. X Anwesende von Y Stimmberechtigten</li>
        </ul>
    </ul>

    <li>7. Verabschiedung der Tagesordnung</li>
    <ul>
        <li>7.1. Aufnahme von Tagesordnungspunkten, die nach der Frist eingereicht wurden, wegen Dringlichkeit auf Vorschlag des Präsidiums</li>
        <li>7.2. Vertagung der Behandlung von Tagesordnungspunkten, deren Antragstellerinnen oder Antragsteller nicht anwesend sind</li>
    </ul>

    <li>8. Verabschiedung der Protokolle</li>
    <ul>
        <li>8.1. Bekanntgabe von Entwürfen für Protokolle</li>
        <li>8.2. Bekanntgabe der Verabschiedung von Protokollen</li>
    </ul>
</ul>
<br>


<h2 class="color:blue"><b>1. Personalia</b></h2>
<br>


<!-- Wahl Beratende Mitglieder -->
<h3><b><u>1.1. Wahl Beratende Mitglieder</u></b></h3>
<br>

<p>Der StuRa möge durch Wahl beschließen, ob</p>
<ul>
    <li>Max Mustermann</li>
</ul>
<p>die Funktion als beratendes Mitglied übernehmen soll.</p>
<br>

<p class="font-size:18"><i>Diskussion:</i></p>
<br><br>

<p class="font-size:18"><i>Ergebnis:</i></p>
<ul>
    <li><b>x / x / x => gewählt</b></li>
</ul>
<br>


<!-- Wahl Stelle/Amt -->
<h3><b><u>1.2. Wahl Stelle/Amt</u></b></h3>
<br>

<p>Der StuRa möge durch Wahl beschließen, ob</p>
<ul>
    <li>Max Mustermann</li>
</ul>
<p>das Amt / die Stelle übernehmen soll.</p>
<br>

<p class="font-size:18"><i>Diskussion:</i></p>
<br><br>

<p class="font-size:18"><i>Ergebnis:</i></p>
<ul>
    <li><b>x / x / x => gewählt</b></li>
</ul>
<br>



<!-- Wahl Vorschlag Stelle/Amt -->
<h3><b><u>1.3. Wahl Vorschlag Stelle/Amt</u></b></h3>
<br><br>

<p>????????????</p><br>


<!-- Herstellung des Benehmens zur Berufung Studiendekan:in -->
<h3><b><u>1.4. Herstellung des Benehmens zur Berufung Studiendekan:in</u></b></h3>
<br><br>

<p>????????????</p><br>


<!-- Herstellung des Benehmens zur Bestellung in die StuKo -->
<h3><b><u>1.5. Herstellung des Benehmens zur Bestellung in die StuKo XY</u></b></h3>
<br><br>

<p>????????????</p><br>


<br>
{% for counter, antrag, anlagen in antraege %}
    <h2 class="color:red"><b><u>{{ counter }}. {{ antrag.antragTitel }}</u></b></h2>
    <br>
    {% include "etherpad/antrag.html" with antrag=antrag %}
{% endfor %}


<!-- ITOP -->
<h1 class="color:green"><b><u>ITOP</u></b></h1>
<br>
