<h1>TOP 0 Formalia</h1><br />
    <h2>1. Begrüßung zur Sitzung</h2><br />
    <h2>2. Bestellung der Redeleitung und Protokollführung</h2><br />
    <h2>3. Bekanntgabe von Beschlüssen</h2><br />
    <h2>4. Bekanntgabe von Protokollen</h2><br />
    <h2>5. Mitgliedschaft</h2><br />
    <h2>6. Beschlussfähigkeit</h2><br />
        <h3>1. Feststellung der Anzahl von Stimmberechtigten</h3><br />
        <h3>2. Feststellung der Beschlussfähigkeit</h3><br />
    <h2>7. Verabschiedung der Tagesordnung</h2><br />
        <h3>1. Aufnahme von Tagesordnungspunkten, die nach der Frist eingereicht wurden, wegen Dringlichkeit auf Vorschlag des Präsidiums</h3><br />
        <h3>2. Vertagung der Behandlung von Tagesordnungspunkten, deren Antragstellerinnen oder Antragsteller nicht anwesend sind</h3><br />
    <h2>8. Verabschiedung der Protokolle</h2><br />
<h1>TOP 1 Personalia</h2><br />